
<html>
    <head>
        <title>Django Girls blog * blah blah! happy django!</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog *^%%-00)(*$# </a></h1>
        </div>

    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
    {% endfor %}


        <div>
            <p>published: 2015/08/11, 22:14</p>
            <h2><a href="">My hgkfkk post</a></h2>
            <p>甄嬛传 第57集 lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>Hi there!</p>       
            <p>Stupid Will!!!!!</p>
            <p>It works!</p>
            <p>blah blah! happy django!!</p>
        </div>
    </body>
</html>



